body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    position: relative;
}

.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
    z-index: 1;
}

td:hover .tooltip {
    visibility: visible;
}
